* {
    margin: 0;
}
.main-container {
    display: block;
    /* border: 4px solid rebeccapurple; */
    
}

.header-box {
    height: 50px;
    background-color: #1F2937;
}
.header-text {
    display: flex;
    justify-content: right;
    padding-top: 5px;
}
.right-side-text {
    margin-left: 20px;
    margin-left: 10px;
}
.header-text p {
    color: white;
}
.left-side {
    margin-left: 170px;
}
.right-side {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
}

.box1, .box2, .box3, .box4 {
    /* border: 4px solid gray; */
    height: 180px;
}
.box1 {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #1F2937;
}

.box1-1 {
    /* border: 4px solid red; */
    height: 110px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.box1-1-1 {
    /* border: 4px solid green; */
    /* height: 50px; */
    flex: 1;
    /* gap: 5px; */

}
.box1-1-2 {
    /* border: 4px solid green; */
    /* height:50px; */
    flex: 1;
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.box2-1 {
    /* border: 4px solid red; */
    height: 110px;
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.box2-1-1container, .box2-1-2container, .box2-1-3container, .box2-1-4container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.boxtext {
    margin: 0;
    font-size: 10px;
}
.parent-div-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
}
.box2-1-1, .box2-1-2, .box2-1-3, .box2-1-4 {
    border: 4px solid #3882F6;
    border-radius: 7px;
    height: 70px;
    width: 70px;
}
/* .box2 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.box2-1 {
    border: 4px solid red;
    height: 110px;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.box2-1-1, .box2-1-2, .box2-1-3, .box2-1-4 {
    border: 4px solid #3882F6;
    height: 70px;
    width: 70px;
} */

.box3 {
    justify-content: center;
    align-items: center;
    display: flex;
}

.box3-1 {
    /* border: 4px solid yellow; */
    height: 110px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.box4 {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: white;
}

.box4-1 {
    /* border: 4px solid red; */
    height: 85px;
    width: 500px;
    display: flex;
    background-color: #3882F6;
    border-radius: 5px;
}

.box4-1-1 {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    flex: 3;
}

.box4-1-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.footer-box {
    height: 50px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}
.footer-text {
    justify-self: center;
    color: white;
    align-self: center;
}


/* styles */
.hero-main-text {
    font-size: 20px;
    color: #F9FAF8;
    font-weight: 900;
    /* font-family: 'Roboto'; */
    margin: 0;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.button1 {
    background-color: #3882F6;
    color: white;
    border-color: transparent;
    border-radius: 5px;
}

.box2-text {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: bold;
}

.box3 {
    background-color: #E5E7EB;
}

.text1-box3 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 5px;
}

.text2-box3 {
    margin-top: 0;
    font-weight: bold;
    align-self: flex-end;
}

.box4-text1 {
    margin: 0;
    color: #F9FAF8;
    /* font-size: ; */
    margin-left: 40px;
}
.box4-text2 {
    margin: 0;
    color: #F9FAF8;
}

.box4button {
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 5px;
    border-style: groove;
}